<section>
  <h2>flex-direction: row</h2>
  <div class="flex-container demo1">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
  </div>

  <h2>flex-direction: row-reverse</h2>
  <div class="flex-container demo2">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
  </div>

  <h2>flex-direction: column</h2>
  <div class="flex-container demo3">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
  </div>

  <h2>flex-direction: column-reverse</h2>
  <div class="flex-container demo4">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
  </div>

  <h2>flex-direction: justify-content</h2>
  <div class="flex-container justify-content-space-between">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
  </div>
  <h2>flex-direction: justify-around</h2>
  <div class="flex-container justify-content-space-around">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
  </div>
</section>
<br/>
<section>
  <h2>flex-wrap: nowrap</h2>
  <div class="flex-container demo5">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
    <div class="flex-item">內容 E</div>
    <div class="flex-item">內容 F</div>
    <div class="flex-item">內容 G</div>
    <div class="flex-item">內容 H</div>
    <div class="flex-item">內容 I</div>
    <div class="flex-item">內容 J</div>
    <div class="flex-item">內容 K</div>
    <div class="flex-item">內容 L</div>
  </div>

  <h2>flex-wrap: wrap</h2>
  <div class="flex-container demo6">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
    <div class="flex-item">內容 E</div>
    <div class="flex-item">內容 F</div>
    <div class="flex-item">內容 G</div>
    <div class="flex-item">內容 H</div>
    <div class="flex-item">內容 I</div>
    <div class="flex-item">內容 J</div>
    <div class="flex-item">內容 K</div>
    <div class="flex-item">內容 L</div>
  </div>

  <h2>flex-wrap: wrap-reverse</h2>
  <div class="flex-container demo7">
    <div class="flex-item">內容 A</div>
    <div class="flex-item">內容 B</div>
    <div class="flex-item">內容 C</div>
    <div class="flex-item">內容 D</div>
    <div class="flex-item">內容 E</div>
    <div class="flex-item">內容 F</div>
    <div class="flex-item">內容 G</div>
    <div class="flex-item">內容 H</div>
    <div class="flex-item">內容 I</div>
    <div class="flex-item">內容 J</div>
    <div class="flex-item">內容 K</div>
    <div class="flex-item">內容 L</div>
  </div>

</section>

<br/>
<section>

  <h2>預設區塊排列</h2>
  <div class="flex-container demo8">
    <div class="flex-item">A</div>
    <div class="flex-item">B</div>
    <div class="flex-item">C</div>
    <div class="flex-item">D</div>
  </div>

  <h2>flex-grow</h2>
  <div class="flex-container demo9">
    <div class="flex-item grow1">2</div>
    <div class="flex-item grow2">2</div>
    <div class="flex-item grow3">1</div>
    <div class="flex-item grow4">0</div>
  </div>

  <h2>flex-shrink</h2>
  <div class="flex-container demo10">
    <div class="flex-item shrink1">2</div>
    <div class="flex-item shrink2">2</div>
    <div class="flex-item shrink3">1</div>
    <div class="flex-item shrink4">0</div>
  </div>

  <h2>flex-basis</h2>
  <div class="flex-container demo11">
    <div class="flex-item basis1">200px</div>
    <div class="flex-item basis2">600px</div>
  </div>

</section>
<br/>
<section>
  <h2>版面垂直置中</h2>
  <div class="flex-container-center">
    <div class="flex-item">
      讓你的版面可以輕鬆的
      <br /> 垂.直
      <br /> 置.中
    </div>
  </div>
</section>
<br/>
<section>
  <h2>動態三欄式</h2>
  <div class="flex-container-grow">
    <div class="flex-item main">Main</div>
    <div class="flex-item side-one">Sidebar1</div>
    <div class="flex-item side-two">Sidebar2</div>
  </div>
</section>
<br/>
<section>
  <div class="flex-container-cus">
    <div class="flex-left">
      <div class="flex-item col">
        <img src="assets/img1.jpg" alt="">
      </div>
      <div class="flex-item col">
        <img src="assets/img2.jpg" alt="">
      </div>
      <div class="flex-item col">
        <img src="assets/img3.jpg" alt="">
      </div>
      <div class="flex-item col">
        <img src="assets/img4.jpg" alt="">
      </div>
      <div class="flex-item col-big">
        <img src="assets/img5.jpg" alt="">
      </div>
      <div class="flex-item col">
        <img src="assets/img6.jpg" alt="">
      </div>
      <div class="flex-item col">
        <img src="assets/img1.jpg" alt="">
      </div>
    </div>
    <div class="flex-right">
      <div class="flex-item">
        <img src="assets/img2.jpg" alt="" />
      </div>
    </div>
  </div>

</section>

<br/>
<div class="flex flex-300">
  <div class="item item1">1</div>
  <div class="item item2">2</div>
</div>
<div class="flex flex-150">
  <div class="item item1">1</div>
  <div class="item item2">2</div>
</div>
